<%- include("header") -%>

<h2>About Page</h2>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus eligendi nihil veritatis cumque sapiente laboriosam recusandae iste, et molestias? Consequuntur sapiente quia eveniet. Dolorum natus ex quisquam sed perspiciatis eligendi?</p>

<%- include("footer") -%>