html {
  background-color: #E4E9FD;
  background-image: linear-gradient(45deg, rgb(0, 252, 210) , rgb(17, 0, 255));
  min-height: 1000px;
  font-family: 'Poppins', sans-serif;
}

h1 {
  color: #fff;
  padding: 10px;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: rgb(17, 0, 255);
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
}

.item:last-child {
  border-bottom: 0;
}

input:checked+p {
  color: gainsboro;
  text-decoration: line-through;
  text-decoration-color: rgb(17, 0, 255);
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
  display: flex;
  min-width: 75%;
}

form {
  text-align: center;
  margin-left: 20px;
}


.submit {
  cursor: pointer;
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: rgb(17, 0, 255);
  color: #fff;
  font-size: 30px;
  padding-top: 2px;
  border-width: 0;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 rgb(17, 0, 255);
  margin-bottom: 5px;
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: white;
  text-align: center;
}
